* {
    padding: 0;
    margin: 0;
}
 
 
 nav {
    
    font-size: 60px;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: steelblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
    margin-right: 400px;
    
    
   
}




.btn {
    background-color: steelblue;
    padding: 10px;
    width: 100px;
    height: 100px;
    
}

body {
    background-color: #e8e8e8;

}

#slider {
    width: 83%;
    height: 1400px;
    background-color: red;
    margin: auto;
    
    border: 5px solid rgb(114, 55, 55);
    border-radius: 15px;
    

}

#contenedor {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    

}

#imagen1{
    
    background-image: url(/wwr/images/banner1.png);
    width: 100%;
    height: 1900px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
  
   
    
}


h2 {
    position: relative;
    width: 24%;
    height: 5%;
    background-color:rgb(245, 245, 245);
    margin: auto;
    margin-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: 70px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
    


h1{
    position: relative;
    width: 16%;
    height: 5%;
    background-color:rgb(243, 243, 243);
    margin: auto;
    margin-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}


.btn {
    position: relative;
    width: 10%;
    height: 5%;
    background-color:rgb(255, 255, 255);
    margin: auto;
    margin-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    
}



.home-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        margin-top: 500px;
}



.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img{
    border: 10px solid #00241B;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #3D0024;
}

.icon {
    margin-left: 410px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
  
}

#background{
    height: 725px;
    background-color:  #116307;
    grid-column: 1/11;
    grid-row: 4/9;
    padding: 700px;
    margin-top: 100px;
    margin-left:800px ;

    margin-right :  500px ;
   
}


.mountains{
    width: 40%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px  #116307;
    position: absolute;
  
   
   
}
@media screen and (max-width: 10px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }}
        


    .msg{
        background-color: #74c5dd;
        line-height: 1.5em;
        padding: 10px;
        grid-column: 6/10;
        grid-row: 6/7;
        
        position: relative;
        margin-left: 1600px;
        margin-top: 400px;
        line-height: 0.2em ;
        box-shadow: 2px 1px 1px #3D0024;
        width: 1200px;
        height: 700px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 10px;
     
        
    }


    .msg h2{
        
        background-color: #74c5dd;
        width: 880px;
        height: 60px;
        
        color: #ffffff;
        
        line-height: 0.8em;
        font-size: 70px
        
        
        
       
    }
    
    .msg p{
       font-size: 60px;
       margin-top: 30px;
       line-height: 0.8em;
       
    
    }

    .Join{
        background-color:  #74c5dd;
        text-decoration: none;
        padding: 50px;
        border-radius: 15px;
        text-decoration: none;
        width: 210px;
        height: auto;
        position: relative;
        
        margin-left: 430px;
        margin-top: 10%;
       

        
    }

    .Join:hover{
        background-color: #f8ff8f;
        color: #3D0024;
     
        
    }


    footer{
        background-color: #2b4f79;
        padding: 90px 90px;
        margin-top: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
       
       
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        margin-left: 480px;
        margin-right: 500px;
    

    
    }
    footer a{
        color: #00241B;
        text-decoration: none;
    }
    footer a:hover{
        color: #3D0024;
    }
    footer p{
        font-size: 70px;
    }
    footer p a:hover{
        text-decoration: underline;
    }







 /* CONTACT PAGE */





.slider1 {
    width: 83%;
    height: 1400px;
    background-color: red;
    margin: auto;
    
    border: 5px solid rgb(114, 55, 55);
    border-radius: 15px;
    

}


.contenedor1 {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    background-color: #ffffff;
    


}


.imagen1 {
    
    background-image: url(/wwr/images/banner5.jpg);
    width: 100%;
    height: 1900px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
  
}

.solh2 {
    position: relative;
    width: 24%;
    height: 5%;
    background-color:rgb(245, 245, 245);
    margin: auto;
    margin-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: 70px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
    


.solh1{
    position: relative;
    width: 16%;
    height: 5%;
    background-color:transparent;
    margin: auto;
    margin-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
   
}





form {
    display: flex;
    flex-direction: column;
    font-size: 40px;
}
fieldset {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
legend {
    font-size: 1.5em;
    font-weight: bold;
}
label {
    font-size: 1.2em;
    margin-top: 10px;
    display: block;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #007bff;
    color: white;
    font-size: 1.5em;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background: #0056b3;
}



.contacto {
    background-color: transparent;
    text-align: center;
}


.cont {
    font-size: 60px;
}